$color_base-light: rgb(116, 48, 48);
$color_base-dark: rgb(48, 17, 17);
$color_base-white: rgb(233, 164, 164);
$color_btn_base: #96961f;
$color_btn_hover: yellow;
$color_range_thumb: rgb(44, 6, 12);
$color_range_input: pink;