.products-container {
  width: 74%;
  background: rgba(24, 26, 28, .5);
  border-radius: 5px;
}

.sort-products,
.view-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.sort-bar-select {
  outline: 0;
  border: 0;
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: black;
  cursor: pointer;
  border-radius: 1rem;
  color: yellowgreen;
  border: 1px solid yellowgreen;
  text-align: center;
}

.view-amount-products {
  display: flex;
}

.view-amount-products>p {
  color: yellowgreen;
}

.view-amount-products>p>span {
  color: yellow;
}

.search-bar>input {
  background: none;
  border: none;
  color: yellowgreen;
  outline: none;
  text-align: center;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

.search-bar {
  background-color: #181a1c;
  border: 1px solid yellowgreen;
  color: yellowgreen;
  border-radius: 2rem;
  padding: 0.2rem;
  outline: none;
  font-size: 80%;
  text-align: center;
}

.view-products-small,
.view-products-big {
  padding: 2px;
  border-radius: 5px;
  margin: 0px 10px;
  // width: 40px;
  // height: 40px;
  background-color: $color_btn_base;
  cursor: pointer;
}

.view-products-small.active,
.view-products-big.active {
  background-color: yellowgreen;
}

.products-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}