
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    background-color: $color_base-dark;

    padding: 1em 2em;

}

.header__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: wheat;

}

.logo__img {
    width: 100px;
    height: 100px;
    background-image: './images/logo.jpg';
    background-size: cover;
}

.logo__text {
    font-size: 48px;
}
.header__sum-box {
    width: 100px;
    height: 50px;
    background: wheat;
    @include flex-center();
    border-radius: 5px;
}

.header__basket {
    width: 200px;
    height: 100px;
    background: wheat;
    border-radius: 5px;
    padding: 10px;
    @include flex-between();
    font-size: 24px;
}

.basket__item-amount {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color_base-light;
    color: white;
    @include flex-center();
}